body {


    background-image: url('background.jpg.png'); /* Image path */

    background-size: cover;  /* Ensures full coverage */

    background-position: center; /* Centers the image */

    background-repeat: no-repeat; /* Prevents tiling */

    height: 100vh; /* Full height of the viewport */

    font-family: Arial, sans-serif;

}

.hero {

    height: 100vh;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://source.unsplash.com/1600x900/?nature,water') no-repeat center center;

    background-size: cover;
}

h2 {

    color: rgb(13, 13, 13);

    font-size: 40px;

    text-align: center;

    margin-top: 0;

    padding-top: 80px;

}

h3 {

    color: rgb(13, 13, 13);

    font-size: 20px;

    text-align: center;

    margin-top: 0;

    padding-top: 20px;

}

form {

    width: 35%;

    text-align: center;

    margin: 0 auto;

    padding: 20px;

    background: rgba(226, 223, 223, 0.882);

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}
